<td-message #messageDemo class="push-bottom-sm" color="primary" icon="none">
    <button mat-stroked-button td-message-actions class='push-right text-upper'>Clone</button>
    <button mat-stroked-button td-message-actions class="text-upper">Add</button>
  </td-message>
<mat-nav-list dense>
  <a mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <div mat-line>Engines</div>
    <div mat-line> view, update, manage, admin, configure </div>
    <mat-icon matTooltip="View details">info_outline</mat-icon>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <div mat-line>Data</div>
    <div mat-line> view, update, manage, admin, configure </div>
    <mat-icon matTooltip="View details">info_outline</mat-icon>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <div mat-line>Scripts</div>
    <div mat-line> view, update, manage, admin, configure </div>
    <mat-icon matTooltip="View details">info_outline</mat-icon>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <div mat-line>Queries</div>
    <div mat-line> view, update, manage, admin, configure </div>
    <mat-icon matTooltip="View details">info_outline</mat-icon>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item>
    <mat-icon mat-list-icon>verified_user</mat-icon>
    <div mat-line>Users</div>
    <div mat-line> view, update, manage, admin, configure </div>
    <mat-icon matTooltip="View details">info_outline</mat-icon>
  </a>
  <mat-divider></mat-divider>
</mat-nav-list>