<div layout="column" flex class="overflow-hidden">
    <td-message #messageDemo class="push-bottom-sm" color="primary"  icon="">
      <button mat-stroked-button td-message-actions class="text-upper">Mark as read</button>
    </td-message>
    <div flex class='pad mat-content'>
      <div class='push-bottom pad-top-sm'>
        <div class='mat-caption tc-faded push-bottom-sm'>Username</div>
        <div class='tc mat-body-1'>user2</div>
      </div>
      <div class='push-bottom pad-top-sm'>
        <div class='mat-caption tc-faded push-bottom-sm'>Timestamp</div>
        <div class='tc mat-body-1'>08/31/2020 06:33 PM GMT-7</div>
      </div>
      <div class='push-bottom pad-top-sm'>
        <div class='mat-caption tc-faded push-bottom-sm'>Details</div>
        <div>
          
          	Viewing result with id - 42c05bc6-e26d-4562-a91a-676f98b00cea
        </div>
      </div>
      
      <div class='push-bottom pad-top-sm'>
        <div class='mat-caption tc-faded push-bottom-sm'>Message</div>
        <td-highlight>
app-id : df564574-b29f-444a-be2b-78473bd74402, job-id : 322cfad6-7195-427e-9405-4fddb66ec597, result-id : 42c05bc6-e26d-4562-a91a-676f98b00ce
        </td-highlight>
      </div>
    </div>
</div>