<div layout="column" flex class="overflow-hidden">
  <td-message #messageDemo  color="none" 
 sublabel="Operational" icon="check_circle">
      <button mat-button td-message-actions class='push-right-sm text-upper'>Delete</button>
      <button mat-button td-message-actions class='push-right-sm text-upper'>Edit Metadata</button>
      <button mat-stroked-button td-message-actions color='accent' class="text-upper">Query</button>
  </td-message>
  <div flex class="mat-content">
    <div layout="row">
      <div flex="100">
        <mat-card>
          <mat-card-title class="text-lg">Object stats</mat-card-title>
          <td-chart [style.height.px]="200" [config]="chart1"></td-chart>
          a chart with stats on this object
        </mat-card>
      </div>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm="60">
        <mat-card>
          <mat-card-title class="text-lg">Schema</mat-card-title>
          <mat-divider></mat-divider>
          card content
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row">
              <a mat-button color="accent" class="text-upper" [routerLink]="'schema'">View Schema</a>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-title class="text-lg">Backups &amp; Data recovery</mat-card-title>
          
          <mat-divider></mat-divider>
          card content
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row">
              <a mat-button color="accent" class="text-upper" [routerLink]="'backups'">View Backups</a>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-title class="text-lg">Permissions</mat-card-title>
          
          <mat-divider></mat-divider>
          card content
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row">
              <a mat-button color="accent" class="text-upper" [routerLink]="'permissions'">View Permissions</a>
            </div>
          </mat-card-actions>
        </mat-card>
        <mat-card>
          <mat-card-title class="text-lg">Data</mat-card-title>
          
          <mat-divider></mat-divider>
          card content
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row">
              <a mat-button color="accent" class="text-upper" [routerLink]="'data'">View Data</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
      <div flex-gt-sm="40">
        <mat-card>
          <mat-card-title class="text-lg">Object details</mat-card-title>
          <mat-divider></mat-divider>
            <mat-list dense>
            <mat-list-item>
              <mat-icon matListIcon svgIcon="td-icons:engine"></mat-icon>
              <h3 matLine>TDICATTBH1TD01</h3>
              <p matLine>Engine (System)</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon svgIcon="td-icons:database"></mat-icon>
              <h3 matLine>ACC_MKTG</h3>
              <p matLine>Database</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>storage</mat-icon>
              <h3 matLine>Value</h3>
              <p matLine>Label</p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <mat-icon matListIcon>cloud_circle</mat-icon>
              <h3 matLine>Value</h3>
              <p matLine>Label</p>
            </mat-list-item>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <div layout="row">
              <a mat-button color="accent" class="text-upper" [routerLink]="'code'">Configure</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>