<div class='pad pad-top-md'>
  <div class='push-bottom pad-top-sm'>
    <div class='mat-caption tc-faded push-bottom-sm'>Name</div>
    <div class='tc mat-body-1'>Engine resource usage</div>
  </div>
  <div class='push-bottom pad-top-sm'>
    <div class='mat-caption tc-faded push-bottom-sm'>Short Description</div>
    <div class='tc mat-body-1'>
      A dashboad to monitor you Vantage engine resource usage and consumption
    </div>
  </div>
  <div class='push-bottom pad-top-sm'>
    <div class='mat-caption tc-faded push-bottom-sm'>Tags</div>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>engine</mat-chip>
      <mat-chip>consumption</mat-chip>
      <mat-chip>report</mat-chip>
      <mat-chip>dashboard</mat-chip>
    </mat-chip-list>
  </div>
  
  <div class='push-bottom pad-top-sm'>
    <div class='mat-caption tc-faded push-bottom-sm'>Description</div>
    <td-markdown>
### Context

Crime incident reports are provided by Boston Police Department (BPD) to document the initial details surrounding an incident to which BPD officers respond. This is a dataset containing records from the new crime incident report system, which includes a reduced set of fields focused on capturing the type of incident as well as when and where it occured.

### Content

Records begin on June 14, 2015 and continue to August 08, 2020

### Acknowledgements

The data is provided by Analyze Boston. The most up-to-date version can be found here.

### Inspiration

What types of crimes are most common? Where are different types of crimes most likely to occur? Does the frequency of crimes change over the day? Week? Year?
    </td-markdown>
  </div>
</div>