<td-layout-manage-list [opened]="toggleList" mode="side" sidenavWidth='300' [class]="'bgc relative'">
  <div flex layout="column" td-sidenav-content>
    <mat-toolbar class='facade-font-to-remove mat-title mat-elevation-z0 bgc pad-right-none'>
        <span [routerLink]="'/monitoring'">Monitoring</span>
        <span flex></span>
        <button mat-icon-button matTooltip="Filter">
          <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-icon-button matTooltip="New report">
          <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
      <td-search-box #searchBoxElem alwaysVisible="true" backIcon="close" placeholder="search" flex="none" class="list-search pull-top-sm pull-bottom"></td-search-box>
      <mat-divider></mat-divider>
    <div class="mat-content">
        <mat-nav-list>
          <ng-container *ngFor='let system of systems'>
            <a mat-list-item [class.bgc-active]="system.name.toLowerCase() === 'crimes analysis'" >
              <h1 mat-line><span class='type-input' 
              [class.tc-emphasis-1]="system.name.toLowerCase() === 'crimes analysis'">{{ system.name }}</span></h1>
              <p mat-line>{{ system.description }}</p>
            </a>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-nav-list>
    </div>
  </div>
	<mat-toolbar class='facade-font-to-remove mat-elevation-z0 bgc'>
    <button mat-icon-button matTooltip="Toggle list" [@tdRotate]="!toggleList" (click)="toggleList =! toggleList" class="push-right">
      <mat-icon *ngIf="toggleList">menu_open</mat-icon>
      <mat-icon *ngIf="!toggleList">menu_open</mat-icon>
    </button>
		<span>Engine resource usage</span>
    <span flex></span>
    <button mat-icon-button>
     <mat-icon class='tc-faded'>apps</mat-icon>
    </button>
	</mat-toolbar>

  <nav mat-tab-nav-bar class='pad-left facade-font-to-remove'>
		<a mat-tab-link *ngFor='let view of detailViews' [routerLink]="view.link" routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive" [routerLinkActiveOptions]="{exact: true}"> {{ view.name }} </a>
	</nav>
  <mat-divider></mat-divider>
  <router-outlet></router-outlet>
</td-layout-manage-list>